In [1]:
#1
a = [1,2,3]
b = a
a.append(4)
b

[1, 2, 3, 4]

In [8]:
#2
class Gizmo:
  def __init__(self):
    print('Gizmo id: %d' % id(self))

x = Gizmo()

Gizmo id: 139682364060384

In [9]:
y = Gizmo() * 10

Gizmo id: 139682364060144

TypeError: unsupported operand type(s) for *: 'Gizmo' and 'int'

In [10]:
dir()

['Gizmo',
 'In',
 'Out',
 '_',
 '_1',
 '_3',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'b',
 'exit',
 'get_ipython',
 'quit',
 'x']

In [11]:
#3
charles = {'name': 'Charles L. Dodgson', 'born': 1832}
lewis = charles
lewis is charles

True

In [12]:
id(charles), id(lewis)

(139682376246720, 139682376246720)

In [13]:
lewis['balance'] = 950 #lewis에 항목을 추가하는 것은 charles에 항목을 추가하는 것과 동일
charles

{'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}

In [14]:
#4
alex = {'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}
alex == charles

True

In [15]:
alex is charles

False

In [16]:
#5
t1 = (1,2,[30,40])
t2 = (1,2,[30,40])
t1 == t2, t1 is t2

(True, False)

In [17]:
id(t1[-1])

139682377004160

In [18]:
t1[-1].append(99)
t1, id(t1[-1])

((1, 2, [30, 40, 99]), 139682377004160)

In [19]:
t1 == t2

False

In [22]:
#6
l1 = [3, [55,44],(7,8,9)]
l2 = list(l1)
l2

[3, [55, 44], (7, 8, 9)]

In [23]:
l2 == l1

True

In [24]:
l2 is l1

False

In [26]:
l1 = [3, [66, 55, 44], (7, 8, 9)]
l2 = list(l1)
l1.append(100)
l1[1].remove(55)
print('l1:', l1)
print('l2:', l2)

l1: [3, [66, 44], (7, 8, 9), 100]
l2: [3, [66, 44], (7, 8, 9)]

In [27]:
l2[1] += [33,22]
l2[2] += (10,11)
print('l1:',l1)
print('l2:',l2)

l1: [3, [66, 44, 33, 22], (7, 8, 9), 100]
l2: [3, [66, 44, 33, 22], (7, 8, 9, 10, 11)]

In [28]:
#7
class Bus:
  def __init__(self, passengers=None):
    if passengers is None:
      self.passengers = []
    else:
      self.passengers = list(passengers)
  def pick(self, name):
    self.passengers.append(name)
  def drop(self, name):
    self.passengers.remove(name)

In [29]:
#8
import copy
bus1 = Bus(['Alice','Bill','Claire','David'])
bus2 = copy.copy(bus1)
bus3 = copy.deepcopy(bus1)
id(bus1), id(bus2), id(bus3)

(139682367053472, 139682367057552, 139682367050208)

In [30]:
bus1.drop('Bill')
bus1.passengers, bus2.passengers, bus3.passengers

(['Alice', 'Claire', 'David'],
 ['Alice', 'Claire', 'David'],
 ['Alice', 'Bill', 'Claire', 'David'])

In [31]:
id(bus1.passengers), id(bus2.passengers), id(bus3.passengers)
#bus1과 bus2가 동일 리스트를 공유한다. 반면 bus3는 다른 리스트를 가리킨다.

(139682089007616, 139682089007616, 139682089112896)

In [32]:
#9
a = [10,20]
b = [a,30]
a.append(b)
a

[10, 20, [[...], 30]]

In [33]:
c = copy.deepcopy(a)
c

[10, 20, [[...], 30]]

In [34]:
def f(a, b):
  a += b
  return a

In [35]:
x = 1
y = 2
f(x, y), (x, y)

(3, (1, 2))

In [36]:
a = [1, 2]
b = [3, 4]
f(a, b), (a, b)

([1, 2, 3, 4], ([1, 2, 3, 4], [3, 4]))

In [37]:
t = (10,20)
u = (30,40)
f(t, u), (t, u)

((10, 20, 30, 40), ((10, 20), (30, 40)))

In [38]:
#11
class HauntedBus:
  """유령 승객이 출몰하는 버스 모델"""
  def __init__(self, passengers=[]):
    # [] 가 interpret 단계에서 생성되며 모든 인스턴스들이 같은 대상을 참조하게 되어 오류 발생
    self.passengers = passengers
  def pick(self, name):
    self.passengers.append(name)
  def drop(self, name):
    self.passengers.remove(name)

In [39]:
#12
bus1 = HauntedBus(['Alice','Bill'])
bus1.passengers

['Alice', 'Bill']

In [40]:
bus1.pick('Charlie')
bus1.drop('Alice')
bus1.passengers

['Bill', 'Charlie']

In [41]:
bus2 = HauntedBus()
bus2.pick('Carrie')
bus2.passengers

['Carrie']

In [42]:
bus3 = HauntedBus()
bus3.passengers #초기값이 더이상 empty가 아님!

['Carrie']

In [43]:
bus3.pick('Dave')
bus2.passengers

['Carrie', 'Dave']

In [44]:
bus2.passengers is bus3.passengers

True

In [45]:
bus1.passengers

['Bill', 'Charlie']

In [46]:
HauntedBus.__init__.__defaults__

(['Carrie', 'Dave'],)

In [47]:
HauntedBus.__init__.__defaults__[0] is bus2.passengers
#bus2.passengers가 HauntedBus.__init__.defaults__[0] 에 바인딩된 별명임을 알 수 있다.

True

In [48]:
#13
class TwilightBus:
  """승객이 사라지게 만드는 버스 모델"""

  def __init__(self, passengers=None):
    if passengers is None:
      self.passengers = []
    else:
      self.passengers = passengers #사본 생성이 아니라 인수를 별명으로 사용

  def pick(self, name):
    self.passengers.append(name)

  def drop(self, name):
    self.passengers.remove(name)

In [49]:
#14
basketball_team = ['Sue','Tina','Maya','Diana','Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team #선수단이 변경되어 버림

['Sue', 'Maya', 'Diana']

In [50]:
#15
class TwilightBus:
  """승객이 사라지게 만드는 버스 모델"""

  def __init__(self, passengers=None):
    if passengers is None:
      self.passengers = []
    else:
      self.passengers = list(passengers)

  def pick(self, name):
    self.passengers.append(name)

  def drop(self, name):
    self.passengers.remove(name)

In [51]:
#16
basketball_team = ['Sue','Tina','Maya','Diana','Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Tina', 'Maya', 'Diana', 'Pat']

In [60]:
#17
import weakref
s1 = {1,2,3}
s2 = s1
def bye():
  print('Gone with the wind...')
ender = weakref.finalize(s1, bye)

True

Gone with the wind...

In [61]:
ender.alive

True

In [62]:
del s1

In [63]:
ender.alive

True

In [64]:
s2 = 'spam'

Gone with the wind...

In [65]:
ender.alive

False